In [1]:
current_time = input("enter current time now")
waiting_time = input("Enter waiting time")
current_time_int = int(current_time)
waiting_time_int = int(waiting_time)

hours = current_time_int + waiting_time_int

total = hours % 24

print(total)

enter current time now5
Enter waiting time4
9

In [0]:
All work and no play makes Jack a dull boy

In [5]:
word1 = ("all")
word2 = ("work")
word3 = ("and")
word4 = ("no")
word5 = ("play")
word6 = ("makes")
word7 = ("jack")
word8 = ("a")
word9 = ("dull")
word10 = ("boy")

print(word1 + ''+ word2 + ''+ word3 +''+ word4 +''+ word5+''+ word6+''+ word7+''+word8+''+ word9+''+ word10)

allworkandnoplaymakesjackadullboy

Write a Python program that assigns the principal amount of 10000 to variable P, assign to n the value 12, and assign to r the interest rate of 8% (0.08). Then have the program prompt the user for the number of years, t, that the money will be compounded for. Calculate and print the final amount after t years

In [7]:
#import math()
P = 10000
n = 12
r = 0.08
t= int(input(" the number of years"))

final = P * ( ((1 + (r/n)) ** (n * t)) )

# first = int(p)
# second = int[1+(r/n)]
# thirt = int(second **n*t)

# total= (first * second * third)
print(final)

 the number of years2
11728.879317453097

In [10]:
pi = 3.14
r = float(input("Enter the radius  "))
circle = pi * r * r
print(circle)

Enter the radius  5
78.5

In [11]:
height = int(input("enter height of rectangle  "))
width = int(input("enter width of rectangle  "))

rectangle = height * width
print(rectangle)

enter height of rectangle  546
enter width of rectangle  45
24570

In [13]:
miles = int(input ("enter no of miles  "))
gallons = int(input ("enter no of miles  "))


total= miles // gallons 
print(total)

enter no of miles  500
enter no of miles  15
33

In [19]:
deg_celsius = int(input("Enter the temperature in celsius "))

deg_far = deg_celsius * (9 / 5) + 32

print(deg_celsius, "degree celsiud is", deg_far, "degree far.")

Enter the temperature in celsius 9
9 degree celsiud is 48.2 degree far.

In [22]:
deg_far = int(input("enter the far "))

deg_celsius = (deg_far - 32) * (5/9)

print(deg_far,"degree far is", deg_celsius,"degree in celsius")

enter the far 100
100 degree far is 37.77777777777778 degree in celsius

In [28]:
rv = """Once upon a midnight dreary, while I pondered, weak and weary,Over many a quaint and curious volume of forgotten lore,While I nodded, nearly napping, suddenly there came a tapping,As of some one gently rapping, rapping at my chamber door.'Tis some visitor, I muttered, tapping at my chamber door;Only this and nothing more."""
num_chars = len(rv)
words = rv.split()
num_words = len(words)
print(type(rv))
print(num_chars)
print(num_words)

<class 'str'>
323
52

In [0]:
import math
degrees = 180
radius = degrees / 360.0 * 2 * math.pi
print(radius)

math.sin(radius)

3.141592653589793

1.2246467991473532e-16

In [0]:
import math
degrees = 180
x = math.sin(degrees / 360.0 * 2 * math.pi)
print(x)

1.2246467991473532e-16

In [0]:
import math
degrees = 270
x = math.exp(math.log(x+1))   # added line
print(x)

2.0

In [0]:
def countdown(n):
  if n <= 0:
    print("saiteja")
  else:
    print(n)
    countdown(n-1)
countdown(10)

In [0]:
index = 0
fruit = 'banana'
while index < len(fruit):
  letter = fruit[index]
  print(letter)
  index = index +1

b
a
n
a
n
a

In [0]:
def countdown(n):
  while n <= 0:
    print(n)
    n = n-1
  print('sai')
countdown(2)

sai

In [0]:
hai = "hello, world"
new_hai = 'present' + hai[1:12]
print(new_hai)

presentello, world

In [0]:
word = 'banana'
count = 0
for letters in word:
  if letters == 'b':
    count = count + 1
print(count)

1

In [0]:
name = 'bob'
name.find('b',1,2)

-1

In [45]:
var1 = 10
var2 = "hai"
var3 = [1,2,3,]
print(var1)
var5 = 20
print(var1 >= var5)

10
False

In [0]:
var =